
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "helpers/_responsive";

/* GENERAL */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #444;
    font-weight: 400;
}
#with-img {
    background: url(../imgs/bg.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    @include respond-down(sm) { padding: 10px; }
}
a:hover { text-decoration: none; }
img { max-width: 100%; }
.container { @include respond-down(md) { max-width: 100%; } }

#logo {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    padding: 40px;
    img {
        max-width: 200px;
    }
    @include respond-down(sm) {
        text-align: center;
        position: relative;
        background: transparent;
        padding: 20px;
        img { max-width: 170px; }
    }
}

#login-area {
    position: absolute;
    right: 10%;
    top: 50px;
    max-width: 408px;
    @include respond-down(md) { top: 140px; }
    @include respond-down(sm) {
        max-width: 100%;
        position: relative;
        right: 0;
        top: 0 !important;
    }
    .login-box {
        background-color: hsla(0,0%,100%,.8);
        padding: 17px 17px 10px;
        margin-bottom: 10px;
        .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    font-size: 13px;
                    margin-right: 10px;
                    &:first-child {
                        font-weight: 700;
                        border-bottom: 1px solid #8CBABD;
                    }
                    &:last-child { margin-right: 0; }
                }
            }
            p {
                margin-bottom: 0;
                font-weight: 700;
                font-size: 13px;
            }
        }
        #forma {
            .error {
                display: flex;
                align-items: center;
                background: #E9E9E9;
                padding: 10px;
                margin-bottom: 20px;
                .sym {
                    margin-right: 10px;
                }
                p {
                    flex-grow: 1;
                    color: #444;
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            legend {
                font-weight: 600;
                font-size: 18px;
            }
            .zawa9 {
                display: flex;
                justify-content: space-between;
                .col1,.col2 { width: 48%; }
                .input {
                    cursor: pointer;
                    position: relative;
                    background: #F6F6F6;
                    border: 1px solid #dbe0e3;
                    border-bottom: 1px solid #8CBABD;
                    height: 50px;
                }
                .label-txt {
                    position: absolute;
                    font-size: 12px;
                    top: 5px;
                    left: 5px;
                    color: #767676;
                }
                .eye {
                    position: absolute;
                    right: 50px;
                    top: 13px;
                }
                .keyboard {
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    &:after {
                        content: '';
                        background: #DBE0E3;
                        width: 1px;
                        height: 25px;
                        left: -10px;
                        top: -3px;
                        position: absolute;
                    }
                }
                .inputs {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 99999999;
                    width: 73%;
                    input {
                        position: relative;
                        width: 100%;
                        left: 0;
                        font-size: 15px;
                        padding:0 10px;
                        letter-spacing:22px;
                    }
                }
                input {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border: 0;
                    color: #4a4a4a;
                    left: 5px;
                    font-size: 16px;
                    background: transparent;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
                .arrow {
                    position: absolute;
                    right: 15px;
                    top: calc(50% - 9px);
                    &:before {
                        content: '';
                        height: 35px;
                        width: 1px;
                        background: #E6E6E6;
                        position: absolute;
                        left: -15px;
                        top: -8px;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    background: #FFF;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px -1px transparent, 0 4px 5px 0 grey, 0 1px 10px 0 transparent;
                    z-index: 999999;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: -10px;
                    display: none;
                    z-index: 9999999999999999999999;
                    li {
                        cursor: pointer;
                        color: #444;
                        font-weight: 600;
                        font-size: 18px;
                        padding: 10px 10px;
                        list-style-type: none;
                        &:hover {
                            background: #E5E5E5;
                        }
                        &:first-child { border-radius: 10px 10px 0 0; }
                        &:last-child { border-radius: 0 0 10px 10px; }
                    }
                }
            }
            table {
                margin-bottom: 20px;
                width: 100%;
                display: none;
                tr {
                    td {
                        border: 1px solid #E3EFF3;
                        background: #F6F6F6;
                        text-align: center;
                        color: #767676;
                        font-size: 15px;
                        cursor: pointer;
                    }
                }
            }
            p.tt {
                text-align: right;
                margin-top: 10px;
                position: relative;
                font-weight: 600;
                color: #444;
                font-size: 13px;
                margin-bottom: 0;
            }
            .btns {
                display: flex;
                justify-content: space-between;
                div {
                    &:first-child { width: 48%; }
                    &:last-child { width: 52%; }
                }
                p {
                    position: relative;
                    font-weight: 600;
                    color: #444;
                    font-size: 13px;
                    margin-bottom: 0;
                    &.remember {
                        padding-left: 28px;
                        &:before {
                            content: '';
                            width: 21px;
                            height: 21px;
                            border: 2px solid #257FA4;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
                button {
                    background: #ec0000;
                    color: #FFF;
                    width: 100%;
                    height: 48px;
                    border: 0;
                    transition: all 0.3s;
                    &:focus {
                        background: #900;
                        outline: 0;
                        box-shadow: none;
                    }
                    &:hover {
                        background: #900;
                    }
                }
            }
        }
    }
    .login-bottom {
        background-color: hsla(0,0%,100%,.8);
        hr {
            margin: 0 0;
        }
        ul.list1 {
            padding: 7px 10px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            font-size: 13px;
            li {
                list-style-type: none;
                width: 50%;
                display: inline-block;
            }
        }
        ul.list2 {
            padding: 7px 10px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            li {
                list-style-type: none;
                width: 50%;
                display: inline-block;
                position: relative;
                padding-left: 15px;
                font-size: 13px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 9px;
                    width: 5px;
                    height: 5px;
                    background: #137E84;
                    border-radius: 100%;
                }
            }
        }
    }
}

#header {
    background: #E10000;
    padding: 12px 0;
    @include respond-down(md) { background: #EC0000; }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-down(md) { max-width: 100%; }
    }
}

#nav {
    padding: 10px 0;
    border-bottom: 2px solid #D8D8D8;
    background: #FFF;
    @include respond-down(md) { display: none; }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.wrapper_details{
    background: #F7F7F7;
    padding:50px 20px 30px;
    min-height: 95vh;
    .container_details{
        max-width:700px;
        margin:0 auto;
        .title{
            h1{
                font-size:19px;
                font-weight: 700;
            }
            p{
                color: #767676;
            }
        }
        .length_box{
            width:100%;
            .length{
                width:100%;
                height:4px;
                background-color: white;
                border-radius:50px;
                position: relative;
                overflow: hidden;
                .max_legth{
                    width:100%;
                    height:100%;
                    position: absolute;
                    background-color: #E10000;
                }
            }
            p{
                margin-top:5px;
                font-weight: 700;
            }
        }
        form{
            width:100%;
            background-color: white;
            border-radius:15px;
            padding:25px 25px;
            &.app{
            @media (max-width:500px) {
                background: white;
                .title_form{
                    padding:0;
                }
            }                
            }
            @media (max-width:500px) {
                background: none;
            }
            .title_form{
                h1{
                    font-size:25px;
                    font-weight: 700;
                }
                p{
                    color: #767676;
                    font-size:15px;
                    font-weight: 400;
                    span{
                        color: black;
                        font-weight: 700;
                    }
                }                
            }
            .inputes{
                width:100%;
                gap:10px;
                margin-top:30px;
                .input_box{
                    width:350px;
                    input{
                        width:100%;
                        height:45px;
                        text-align: left;
                        padding:0px 10px;
                    }
                }
                input{
                    width:40px;
                    height:50px;
                    border:1px solid #767676;
                    border-radius:5px;
                    text-align: center;
                    box-shadow: inset 0px 0px 5px 2px #76767626;
                }
            }
            p{
                color: #257FA4;
                font-weight: 600;
                font-size:16px;
                gap:7px;
                margin-top:20px;
            }
            .btn_sub{
                margin-top:40px;
                button{
                    height: 44px;
                    width: 192px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    background-color: #ec0000;
                    border: 1px solid #ec0000; 
                    border-radius:50px; 
                    font-weight: 600;
                    @media (max-width:500px) {
                        width:100%;
                    }                                    
                }
            }
        }
    }
}
.error {
    display: flex;
    align-items: center;
    background: #FEE5E5;
    padding: 10px;
    margin-bottom: 20px;
    i {
        margin-right: 10px;
        color: #EC0000;
        font-size:22px;
    }
    p {
        flex-grow: 1;
        color: #444444 !important;
        font-size: 12px !important;
        margin-bottom: 0;
        margin-top:0 !important;
    }
}
.loading{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}